.jumbotron{
background-image: url('../images/2.jpg');
background-size: auto 100%; 
}

h1, p{
text-align: center;
color: white;
}

h1{
font-size: 40px;
}

p{
font-size: 25px;
}

.col-lg-6{
background-color: white;
max-width: 1136px; 
}

.panel-title{
background-color: #383F51;
text-align: center;
color: white;
}

th{
background-color: #DDDBF1;
text-align: center;
}

td:nth-child(odd) {
background-color:  #AB9F9D;
text-align: center;
}

td:nth-child(even) {
background-color:  #D1BEB0;
text-align: center;
}

#add-train{
background-color: #383F51;
border: 0;
border-radius: 10px;
padding: 10px 20px;
font-size: 18px;
font-weight: 500;
color: white;
}

#add-train:hover{
background-color: #D1BEB0;
}

#add-train:active{
opacity: 0.7;
}

form{
background-color: lightgray;
}

label{
font-weight: 500;
}